@import "tailwindcss";

body {
  background-image: url("assets/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: orangered;
  font-weight: bold;
  text-shadow: 2px 2px rgb(0, 0, 0);
  left: 0;
  right: 0;
  margin-inline: auto;
  text-align: center;
}

h2 {
  color: yellow;
  font-weight: bold;
  text-shadow: 2px 2px rgb(0, 0, 0);
  text-align: center;
  padding-top: 25px;
}

a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 2px 2px rgb(0, 0, 0);
  left: 0;
  right: 0;
  margin-inline: auto;
  border: 5px solid transparent;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: blueviolet;
  padding: 25px;
}

form {
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  background-color: rgb(27, 129, 129);
}
